* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}



header {
    height: 90vh;
    padding-bottom: 100px;
}

section {
    height: 100vh;
    padding-top: 100px;
}

.navbar {
    margin-bottom: 0;
    height: 100px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
}


/***********************
Temporary styles 
/**********************/

.section-caption {
    padding-top: 2em;
    margin-left: 2em;
    margin-top: 0;
    text-align: left;
}

#menu {
    background: lightblue;
}

#stable {
    background: lightgreen;
}

#agrotourism {
    background: purple;
}

#places-of-interests {
    background: red;
}

#contact {
    background: yellow;
}
