/******  VARIABLES ******/

@baseColor: #fff;
@navbarBgColor: #000;
@accentColor: #64DD17;
@accentColor2: #AEEA00;
@navbarHeight: 50px;

/******  MIX-INS ******/

.makeSection(@height: 100vh, @padding-top: @navbarHeight) {
    height: @height;
    padding-top: @padding-top;
}

.makeTransition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

.makeOpacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}


/****** COMMON ******/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}


/* temporary */

section {
    h1 {
        padding-top: 2rem;
        margin-left: 2rem;
        margin-top: 0;
        text-align: left;
    }
}


/****** NAVBAR ******/

.navbar {
    margin-top: -@navbarHeight;
    margin-bottom: 0;
    height: @navbarHeight;
    background-color: @navbarBgColor;
    border-color: @navbarBgColor;
    .makeOpacity(0.8);
    #collapsableNavbar {
        height: @navbarHeight;
        ul {
            li:not(: last-of-type) {
                border-right: 1px solid @baseColor;
            }
            a {
                .makeTransition(0.5s linear color);
                &:hover {
                    color: red;
                    text-decoration: none;
                }
            }
        }
    }
}

.navbar-right {
    margin-right: 10px;
}

#nav.affix {
    position: fixed;
    top: 0;
    margin-top: @navbarHeight;
    width: 100%;
}


/****** HEADER ******/

#intro {
    .makeSection(100vh, 100px);
    background: url('../images/stable.jpg') no-repeat;
    background-size: cover;
    .jumbotron {
        background-color: transparent;
        color: @baseColor;
        text-align: right;
    }
    hgroup {
        h1 {
            font-weight: bold;
            font-size: 3rem;
        }
    }
}


/****** SECTIONS ******/

#welcome {
    .makeSection(70vh);
    background-color: lightblue;
}

#stable {
    .makeSection();
    background: lightgreen;
}

#agrotourism {
    .makeSection();
    background: purple;
}

#places-of-interests {
    .makeSection();
    background: red;
}

#gallery {
    .makeSection();
    background: orange;
}

#contact {
    .makeSection();
    background: yellow;
    #contactInformation {
        height: 50%;
    }
    #map {
        width: 100%;
        height: 50%;
    }
}
