html,
body {
    height: 100%;
    margin: 0;
}

section {
    height: 100vh;
}

.section-caption {
    padding-top: 2em;
    margin-left: 2em;
    margin-top: 0;
    text-align: left;
}

#intro-section {
    background: lightblue;
}

#stable {
    background: lightgreen;
}

#agrotourism {
    background: purple;
}

#places-of-interests {
    background: red;
}

#contact {
    background: yellow;
}
